extends ../../../../templates/secret
block content

    <link rel="stylesheet" href="/styles/guestform.css">
    <div class="container">
    <div class="jumbotron">
    
    
        form(class="form-horizontal" method='post' action=`/admin/learn/${learns.learn_id}/add`)

            
            <fieldset>
                    <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">CATEGORY NAME:</label>
                    <div class="col-lg-3">
                        input(type="text" name="subcategory" class="form-control" placeholder="Sub-category" required) 
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">INFORMATION:</label>
                    <div class="col-lg-3">
                        textarea.form-control(type="text" name="info" rows="8" placeholder="Instructions" required)
                    </div>
                    </div>
                    
                    <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-1">
                        //- <button type="reset" class="btn btn-danger">Clear</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </div>

            </fieldset>
        </form>
    </div>
    </div>
    </div>