extends ../../../../templates/secret
block content

    <link rel="stylesheet" href="/styles/guestform.css">
    <div class="container">
    <div class="jumbotron">
    form(class="form-horizontal" method='post' action=`/admin/emergency/${emergencies.emergency_id}/edit`)
        
        <fieldset>
            //- each reservation in reservation
            <legend style="color: #e50000"> EDIT EMERGENCY CATEGORY </legend>
           

            <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">CATEGORY:</label>
            <div class="col-lg-3">
                input(type="text" name="category" class="form-control" value= `${emergencies.emergency_name}` required) 
            </div>
            
            <div class="form-group">
            <div class="col-lg-10">
                //- <button type="reset" class="btn btn-danger">Clear</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
            </div>

        </fieldset>
    </form>
    </div>
    </div>
    </div>