extends ../../../../templates/mainwithsession

block content

    <link rel="stylesheet" href="/styles/about.css">
        <div class="container">
        <div class="jumbotron">
        <h1> </h1>
            <legend> BAPTISMAL AND CONFIRMATION CERTIFICATE </legend>
            <p style="text-align:left; text-indent: 40px;"> These relate to both the bride's and the groom's. These <b>MUST BE TWO (2) COPIES</b> and must have an annotation <b>"FOR MARRIAGE PURPOSES ONLY"</b> and must have been secured not more than three (3) months before the wedding. </p>
            <legend> CANONICAL INTERVIEW </legend>
            <p style="text-align:left; text-indent: 40px;"> This interview with the bride and the groom will be done at least a month before the wedding, and will be conducted by the Parish Priest. The schedule of the interview will be given upon signing the application form and submitting the requirements.</p>
            <legend> PRE-MARRIAGE (Pre-Cana) SEMINAR </legend>
            <p style="text-align:left; text-indent: 40px;"> Both the bride and the groom have to attend this. The schedule of the seminar will be given during the canonical interview or you may inquire at the parish office. </p>
            <legend> PERMISSION FROM BRIDE'S PARISH </legend>
            <p style="text-align:left; text-indent: 40px;"> If the bride will be married outside her parish, a permit from the parish of the bride-to-be must be secured and presented to the office/church-to-go site of the couple's chosen ceremony venue. </p>

        </div>
        </div>
        <div class="footer">
            <p style="padding-bottom: 20px; left: 50%; font-size: 25px;"> FOLLOW US ON SOCIAL MEDIA </p>
            <ul style="padding-top: 15px; left: 50%;">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
            <hr style="padding-top: 2px; box-shadow: 0 1px 20px 1px rgba(0,0,0,0.3);">
            <p style="padding-top: 25px; font-size: 25px; left: 50%;"> https://churchtogo.io </p>
        </div>
        </div>