extends ../../../../templates/secret
block content

    <link rel="stylesheet" href="/styles/guestform.css">
    <div class="container">
    <div class="jumbotron">
    form(class="form-horizontal" method='post' action=`/admin/hotlines/${hotlines.line_id}/edit`)
        
        <fieldset>
            //- each reservation in reservation
            <legend style="color: #e50000"> EDIT HOTLINE </legend>
           

            <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">HOTLINE:</label>
            <div class="col-lg-3">
                input(type="text" name="line_number" class="form-control" value= `${hotlines.line_number}` required) 
            </div>
            <label for="inputName" class="col-lg-2 control-label">OWNER:</label>
            <div class="col-lg-3">
                input( type="text" name="line_owner" class="form-control" value=`${hotlines.line_owner}` required)
            </div>
            
            <div class="form-group">
            <div class="col-lg-10" style="margin-top: 50px">
                //- <button type="reset" class="btn btn-danger">Clear</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
            </div>

        </fieldset>
    </form>
    </div>
    </div>
    </div>