<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible", content="ie=edge">
        <title>Exigency</title>
        <link rel="icon" type="image/gif" href="/assets/favicon/church-icon.png">
        <link rel="stylesheet" href="/styles/custom.css">
            
    </head>
<body>
    header.header
        .logo

        .text-box
            h1.heading-primary
                span.heading-primary-main Exigency
                span.heading-primary-sub administrator
                form.form-space(method="POST" action="loginadmin" name="login_form")
                    label.label-primary(for='fname') Username
                    input#fname.input-primary(type='text' placeholder="Email" name="user_username")
                    label.label-primary(for='lname') Password
                    input#lname.input-primary(type='password' placeholder="Password" name="user_password")
                    button.button.button5(type="submit") LOGIN
