extends ./base

block body  
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
	link(rel="icon" href="/assets/favicon/church-icon.png")
	link(rel="stylesheet" href="/styles/sweetalert2.min.css")
	font(face="KG Broken Vessels Sketch Regular")
	script(src="/assets/js/sweetalert2.all.min.js")
	link(rel='/stylesheet', href='styles/sweetalert2.min.css')
	script(src='/styles/custom.js')
	script(src="/assets/js/jquery.min.js")
	.banner
		h1
			<i class="fa fa-user-circle" aria-hidden="true"></i>
			|  Exigency Admin
	nav.navbar.navbar-default
		.container
			.navbar-header
			button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href="/admin/emergency")
							i.fa.fa-ambulance(aria-hidden="true")
							|  EMERGENCY
					li
						a(href='/admin/learn')
							i.fa.fa-book(aria-hidden="true")
							|  LEARN
					li
						a(href='/admin/prepare')
							i.fa.fa-medkit(aria-hidden="true")
							|  PREPARE
					li
						a(href="/admin/map")
							i.fa.fa-map-marker(aria-hidden="true")
							|  MAP
					li
						a(href="/admin/hotlines")
							i.fa.fa-phone(aria-hidden="true")
							|  HOTLINES

				ul.nav.navbar-nav.navbar-right
					li
						a(href="/logout")
							span.fa.fa-power-off(aria-hidden='true')
							|  LOGOUT
	div.container
	block content

	script.
		$("#evtSweetalert").click(() => {
				swal({
					title: "Are you sure?",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Yes, delete it!"
				})
		});